{% extends "base.html" %}

{% block title %} Вход на сайт {% endblock title %}

{% block heading %}
    Вход на сайт
{% endblock heading %}

{% block content %}
    <div class="row form-wrapper" data-aos="fade-up" data-aos-delay="200">

        {% if form.errors %}
            <p class="errorlist">
            Неверный логин или пароль,
            пожалуйста попробуйте еще раз
            </p>
        {% else %}
            <p>Используйте форму ниже для входа:</p>
        {% endif %}

        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p>
                <input type="submit" class="btn btn-primary" value="Войти">
                Если у вас еще нет аккаунта, вы можете
                <a href="{% url "register" %}">зарегистрироваться</a>.
            </p>
        </form>


        <p>
            <a href="{% url "password_reset" %}">
            Забыли пароль?
            </a>
        </p>

    </div>
{% endblock content %}