{% extends 'base.html' %}
{% block title %}
  Сброс пароля
{% endblock %}
{% block content %}
<div class="form-wrapper">
  <h1>Сброс пароля</h1>
  {% if validlink %}
    <p>Введите новый пароль дважды:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p>
        <input type="submit" class="btn btn-primary" value="Сменить пароль" />
      </p>
    </form>
  {% else %}
    <p>
        Ссылка на сброс пароля недействительна, возможно она уже была использована. 
        Пожалуйста запросите сброс пароля заново.
    </p>
  {% endif %}
</div>
{% endblock %}
