{% load custom_filters %}

<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icofont-close js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<nav class="site-nav">
    <div class="container">
      <div class="menu-bg-wrap">
        <div class="site-navigation">
          <div class="row g-0 align-items-center">
            <div class="col-2">
              <a href="{% url "articles:home" %}" class="logo m-0 float-start">WOW Results<span class="text-primary">.</span></a>
            </div>
            <div class="col-8 text-center">
              
              <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu mx-auto">
                  <li><a href="{% url "articles:home" %}">Главная</a></li>
                  
                    {% regroup tournaments by title as leagues %}
                    
                    {% for league in leagues %}

                    <li class="has-children active">
                    <a href="{{ t_urls|get_item:league.grouper }}">{{league.grouper}}</a>
                    <ul class="dropdown">
                        {% for tournament in league.list %}
                            <li class="active"><a href="{{ tournament.get_absolute_url }}">Сезон {{tournament.season}}</a></li>
                        {% endfor %}
                    </ul>
                    </li>

                    {% endfor %}

              </ul>
            </div>
            <div class="col-2 text-end">
              <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block d-lg-none light">
                <span></span>
              </a>
              <form action="{% url 'articles:post_search' %}" class="search-form d-none d-lg-inline-block">
                <input type="text" name="query" value="{{ q }}" class="form-control" placeholder="Поиск...">
                <span class="bi-search"></span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>