{% extends "base.html" %}

{% load static %}

{% load table %}

{% load custom_filters %}

{% block title %} {{tournament.title }} {{ tournament.season }} - Результаты матчей {% if tour %} {{ tour }} Тур {% endif %} {% endblock title %}


{% block heading %}
    {{ tournament.title}} {{ tournament.season }} </br>
    {% if tour %} {{ tour }} Тур {% endif %}
{% endblock heading %}

{% block content %}

<div class="container results-list-wrapper">

    {% if tournament.is_regular and tournament.tours_count %}

        <nav aria-label="Page navigation example">
            
            <ul class="pagination">
                <li class="page-item">Туры:</li>
            {% for tour_number in tours_range %}
            <li class="page-item {% if tour == tour_number %} active {% endif %}"><a class="page-link" href="{% url "tour" t_slug tour_number %}">{{ tour_number }} </a></li>
            {% endfor %}
            </ul>
        </nav>

        <div class="results-list-description">Календарь, результаты матчей и турнирная таблица</div>
        {% regroup matches by tour as tours %}

        <ul class="results-list">
            {% for t in tours %}
            {% if not tour %} <li><a href="{% url "tour" t_slug t.grouper %}">{{ t.grouper }} Тур</a> {% endif %}
                <ul>
                    {% for match in t.list %}
                    <li>
                        {% include "tournaments/match_preview.html" with match=match date_format="DATETIME_FORMAT" %}
                    </li>
                    {% endfor %}
                </ul>
            </br>
            {% if tour %} </li> {% endif %}
            {% endfor %}
        </ul>

        {% show_table tournament tour %}
    
    {% endif %}

    <div class="events_block">
    {% for event in tournament.events.all %}
        <p>{{ event.description }} </p>
    {% endfor %}
    </div>

</div>
{% endblock content %}
