{% extends "base.html" %}

{% load static %}
{% load article_tags %}

{% load custom_filters %}
{% load table %}

{% block title %} {{ article.title }} {% endblock title %}


{% block heading %}
    {{ article.title }}
{% endblock heading %}

{% block content %}


<div class="container article">

    {% autoescape off %}
        <div style="font-size: 20px;">{{ article.content }}</div>
        {% if article.additional_content %}
            {{ article.additional_content }}
        {% endif %}
    {% endautoescape %}

    <span class="tags">Теги: </span>

    {% for tag in article.tags.all %}
    <a href="{{ tag.get_absolute_url }}">
        <span class="label label-success">{{ tag }}</span>{% if not forloop.last %}, {% endif %}
    </a>
    {% endfor %}

    {% if article.match_day %}
    
        </br>
        </br>
        <h6 style="text-align: center; margin: 0 auto; width: 50%;">Положение команд на {{article.match_day}}</h6>
        </br>
        {% show_table article.tournament date=article.match_day %}

    {% endif %}


    </br></br>

    {% with article.comments.count as total_comments %}
    <h2>
    Комментариев: {{ total_comments }} 
    </h2>
    {% endwith %}

    {% for comment in article.comments.all %}
    <div class="comment">
        <p class="info">
            Комментарий пользователя {{ comment.author.username }}
            от {{ comment.created }}
        </p>
        {{ comment.body|linebreaks }}
    </div>
    {% empty %}
        <p>Еще нет комментариев.</p>
    {% endfor %}
    </br></br>

    {% include "articles/includes/comment_form.html" %}


    {% show_similar_articles article %}

</div>

{% endblock content %}


{% block domready %}


{% endblock domready %}


