{% extends "base.html" %}

{% load static %}
{% load article_tags %}

{% load custom_filters %}

{% block title %} {{ article.title }} {% endblock title %}


{% block heading %}
    {{ article.title }}
{% endblock heading %}

{% block content %}


<div class="container article">

    {% autoescape off %}
        <div style="font-size: 20px;">{{ article.content }}</div>
        {% if article.additional_content %}
            {{ article.additional_content }}
        {% endif %}
    {% endautoescape %}

    <span class="tags">Теги: </span>

    {% for tag in article.tags.all %}
    <a href="{{ tag.get_absolute_url }}">
        <span class="label label-success">{{ tag }}</span>{% if not forloop.last %}, {% endif %}
    </a>
    {% endfor %}


    </br></br>

    {% show_similar_articles article %}

</div>

{% endblock content %}


{% block domready %}


{% endblock domready %}


