html, body {
    height: 100%;
}

body .site-nav {
    background-color: #214204;
}

.heading-wrapper {
    padding: 20px 0 0 0;
}

.results-list-wrapper {
    margin: 0 auto;
    width: 800px;
}

@media (max-width: 320px){
	#mod-iframe-container-i347453 {display:none;}
}

.results-list {
    display: block;
    margin: 0 auto;
    width: 600px;
    padding: 0 0 30px 50px;
}

.results-list-description {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.match-details {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 2px;
    line-height: 2;
    font-size: 25px;
}

.goals-block {
    font-size: 18px;
    line-height: 0.5;
    margin-bottom: none;
}

.posts-entry h3 {
    font-size: 14px;
}

.post-list-img {
    width: 200px; 
    text-align: center;
}

.posts-entry .blog-entry-search-item .img-link {
    width: 200px;
}

.results-list ul li {
    list-style: none;
}

.container.article h3{
    font-size: 15px;
    margin: 20px;
}

.container.article p{
    font-size: 12px;
    margin: 10px;
}

.search-results {
    font-size: 20px;
}

.heading-left {
    width: 80%; 
    float: left;
    margin-left: 10%;
}

.auth-block {
    float: right; 
    border: solid white 3px; 
    cursor: pointer; 
    padding: 10px;
}

.auth-block.logout{
    border: none; 
}

.auth-block a {
    font-size: 15px; 
    font-weight: bold; 
    color: white;
}

.form-wrapper {
    margin: 0 auto; 
    min-height: 100%; 
    height: auto !important;
    margin-bottom: 30%;
    width: 50%; 
}

.site-footer {
    width: 100%;
    bottom: 0;
}

.errorlist {
    color: red;
}

/* Стили страницы профиля */

.form-control.date-select {
    display: inline-block;
    margin-right: 8px;
    width: 32%;
}

.form-wrapper label {
    width: 100%;
}

.current-photo {
    max-width: 150px;
    margin-bottom: 30px;
}

.image-label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
    width: auto !important;
}

.file-input {
    display: none; /* Скрыть стандартный элемент ввода файла */
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
    width: auto !important;    
}

.custom-file-upload:hover {
    background-color: #45a049;
}